.back-to-home {
  position:relative;
  bottom : 45px;
}
.control-buttons {
  width:500px;
  margin: 25px 0;
  margin-left: auto;
  margin-right: auto;
}
.end-table {
  margin: 20px 0;
}
.jx-center {
  margin-left: auto;
  margin-right: auto;
  width:500px;
  height:500px;
}

.hidden-div {
  display: none;
}
.give-a-space {
  margin-top: 15px;
  margin-bottom: 15px;
}
.give-some-space {
  margin-top: 50px;
  margin-bottom: 20px;
}
.user-inputs {
  margin-left: 20px;
  margin-right: 20px;
}
