<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Two</title>

    <!-- Bootstrap -->
      <link href="../../css/bootstrap.min.css" rel="stylesheet">
      <link href="../../css/nap.css" rel="stylesheet">
      <link href="../../css/jsxgraph.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>

    <script type="text/javascript"
      src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <script src="../../js/projects/ptwo.js"> </script>
    <script src="../../js/jsxgraphcore.js"> </script>
  </head>
  <body>

      <div class="page-header">
          <h1>Project 2 <small>Numerical Analysis</small></h1>
          <a class="btn btn-danger pull-right back-to-home" href="../index.html" role="button">HOME</a>
      </div>
      <div class="col-md-9">

          <p> find positive root of $2x \left(  1+ x^2 \right)^{-1} = tan^{-1}x $ with Bisection method. obtain founded root as $x_{0}$, for newton method and find root of $tan^{-1}x$</p>

      </div>

      <hr />

      <div class="user-inputs">
        Steps <input type="text" id="steps" value=5></input>
        $a_0$ <input type="text" id="a__0"  value=1.0></input>
        $b_0$ <input type="text" id="b__0"  value=2.0></input>
      </div>

      <hr />
      <div class="control-buttons">
        <!-- <a class="btn btn&#45;success" onclick="drawGraphFunc();"> Draw Graph</a> -->
        <!-- <a class="btn btn&#45;success" onclick="drawGraphFunc();"> Draw Function Graph </a> -->
        <a class="btn btn-success" onclick="calculateBisection();"> Solve!</a>
        <!-- <a class="btn btn&#45;success" onclick="clearGraph();"> Clear!</a> -->
        <a class="btn btn-info" onclick="drawTang();"> Draw $Tan^{-1}(x)$ Graph</a>
      </div>

      <div class="col-mod-12">
        <div id="box" class="jxgbox jx-center"></div>
        
      </div>
      <div class="end-table">
          <table class="table table-bordered table-hover">
            <tbody id="resultTable">
            </tbody>
          </table>
      </div>
      <div class="hidden-div" id="nwdiv">
        <a class="btn btn-info" onclick="calculateNewton();">Calculate Root of $Tan^{-1}(x)$</a>
        <div class="col-mod-12 give-a-space">
          Start Point <input type="text" id="start-newton"></input>
          Steps <input type="text" id="steps-newton" value=5></input>
        </div>
      </div>
      <div class="col-mod-12">
        <div class="end-table">
          <table class="table table-bordered table-hover">
            <tbody id="newtonResultTable">
            </tbody>
          </table>
        </div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf-8">
      drawGraphFunc();
    </script>
  </body>
</html>





